html {
    background-color:black;
}

#intro-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    animation: fade 5s ease-out 0s forwards;
}

#landing-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#game-title {
    position: fixed;
    text-align: center;
    justify-self: center;
    color: antiquewhite;
}