html {
    background-color:black;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    height:100vh;
    width:100vw;
    text-align: center;
    align-items: center;
    /* position: relative; */

    /* display: block; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    color: antiquewhite;
}

button {
    background-color: #120565; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
    width:fit-content;
    height:fit-content;
}

/* Intro  */
.content {
    padding-top:40vh;
    /* background-color: red; */
}

/* Landing */
.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 0; /* You can adjust this to control vertical position */
    left: 0; /* Adjust this for horizontal position */
    /* animation: fade 5s ease-out 0s forwards; */
    z-index: -4;
}

/* Coffeeshop */
/* .squares{
    
    display: inline-block;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
    background-color: red; 
} */

/* #square-container {
    position: relative;
    width: auto;
    height: 100%;
} */

.square {
    position: fixed; /* Allows overlapping */
    width: auto;
    height: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    /* display: block */
}

video {
    position: fixed; 
    height: 100%;
    /* animation: fade 5s ease-out 0s forwards; */

    display: block;
    align-self: center;
    z-index: -10;
}

#vid-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* height: 100vw; */
}

#hid-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#leftclick {
    top: 20%;
    left: 30%;
    position: fixed;
}

#mid-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
  
}
