html {
    background-color:black;
}

#intro-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    animation: fade 5s ease-out 0s forwards;
}

#landing-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
 body {
    height:100vh;
    width:100vw;
    text-align: center;
}

.content {
    padding-top:40vh;
    /* background-color: red; */
}
h1 {
    color: antiquewhite;
}

button {
    background-color: #120565; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
}